/*Define extra fonts*/
@font-face {
    font-family: "tf2Secondary";
    src: url("/fonts/TF2secondary.ttf");
}
@font-face {
    font-family: "bebasRegular";
    src: url("/fonts/Bebas-Regular.ttf");
}
@font-face {
    font-family: "borisBlack";
    src: url("/fonts/BorisBlackBloxx.ttf");
}
@font-face {
    font-family: "tf2Build";
    src: url("/fonts/tf2build.ttf");
}
@font-face {
    font-family: "SFalt";
    src: url("/fonts/Truetype/GhoulFriAOE.ttf");
}
@font-face {
    font-family: "NewsHeader";
    src: url("/fonts/LietzLindauHamburg.otf");
}

body {
    margin: 0;
    background-color: rgb(69, 69, 69);
}

/*Define the main grid containers*/
/*.grid-container-nav {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'main main main'
    ;
}
.navbar {
    grid-area: header;
    background-color: black;
    grid-template-columns: 10fr 10fr 10fr 10fr;
    width: 100%;
    text-align: left;

}
.grid-navbar-element {
    color: white;
    column-gap: 50px;
}*/
.mainHead{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "bebasRegular";
    color: white;
    z-index: 1;
    text-align: center;
    text-shadow: 3px 3px black;
    font-size: 25px;
}
/*.mainHead span{
    font-family: "borisBlack";
    font-size: 50px;
}*/
.headCont{
    position: relative;
    height: 100%;
}
header img{
    filter: grayscale(50%) blur(6px);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(gray, rgb(77, 77, 77));
}
.navbar img{
    filter: invert(100%);
}
li.navLeft {
    float: left;
}
li.navRight {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-family: "TF2secondary";
    padding-bottom: 1;
}
li a:hover{
    background-color: rgb(240, 88, 0);
}
.selectedTab{
    background-color: rgb(185, 78, 39);
}

/*Hoveddelen av siden*/
main {
    background-color: rgb(88, 88, 88);
}

.mainSub{
    font-family: "Newsheader";
    text-align: center;
    background-image: linear-gradient(rgb(208, 121, 21), rgb(194, 48, 0));
    margin: 0;
    padding: 30px;
    color: white;
    text-shadow:
    2px 2px 2px black;
    font-size: 30px;
}
.indexStoreHeader{
    text-align: center;
    font-family: "borisblack";
    color: #b35215;
    position: relative;
    top: 10px;
}
.indexStoreHeader h3{
    display: inline-block;
    background-color: rgb(205, 196, 188);
    padding: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
}

.indexStore {  display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "left main right";
    font-family: "TF2Secondary";

}
  
.indexStoreArea { grid-area: main; }
  
.left { grid-area: left; }
  
.right { grid-area: right; }
  
.indexStoreArea {  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    text-align: center;
    grid-template-areas:
      "a b c d"
      "e f g h"
      "i j k l"
      "m n o p";
    background-color: rgb(205, 196, 188);
    padding: 15px;
    border-radius: 10px;
}
  
.a { grid-area: a; }
  
.b { grid-area: b; }
  
.c { grid-area: c; }
  
.d { grid-area: d; }
  
.e { grid-area: e; }
  
.f { grid-area: f; }
  
.g { grid-area: g; }
  
.h { grid-area: h; }
  
.i { grid-area: i; }
  
.j { grid-area: j; }
  
.k { grid-area: k; }
  
.l { grid-area: l; }
  
.m { grid-area: m; }
  
.n { grid-area: n; }
  
.o { grid-area: o; }
  
.p { grid-area: p; }
  

.storeItem{
    margin: 10px;
    background-color: rgb(71, 64, 56);
    border-radius: 10px;
    padding: 1px 10px;
}
.storeItem:hover{
    background-color: rgb(149, 149, 149);
}
.storeItem p{
    margin: 0px;
    font-family: "tf2Build";
    color: rgb(219, 219, 21);
}
.storeItem p.price{
    color: rgb(0, 169, 0);
}
.storeItem img{
    /*background-color: rgb(71, 64, 56);*/
    border-radius: 10px;
    padding: 1px 10px;
}
/*
.storeItem img:hover{
    background-color: rgb(149, 149, 149);
}*/
.indexToProducts a{
    text-decoration: none;
    font-family: "TF2Build";
    color: white;
    text-align: center;
    background-color: rgb(104, 104, 104);
    padding: 10px;
    border-radius: 5px;
}
.indexToProducts a:hover{
    background-color: rgb(50, 50, 50);
}
.indexToProducts {  
    display: grid;
    grid-template-columns: 0.9fr 1.2fr 0.9fr;
    grid-template-rows: 1.2fr 0.5fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      "left button right"
      ". . .";
}
  
.left { grid-area: left; }
  
.button { grid-area: button; }
  
.right { grid-area: right; }

.footerContainer {  display: grid;
    grid-template-columns: 0.3fr 1.2fr 0.9fr;
    grid-template-rows: 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "footerLeft footerLogo footerRight";
    background-color: rgb(71, 71, 71);
}
  
.footerLeft { grid-area: footerLeft; }
  
.footerLogo { grid-area: footerLogo; }
  
.footerRight { grid-area: footerRight; }
  
.footerLeft img{
    filter: invert(100%);
    padding: 20px;
}
footer p{
    color: rgb(179, 179, 179);
}

/*-----------------------------------Styles for the account pages----------------------------------*/

h1.accountMainHeader {
    font-family: "bebasregular";
    margin: 0;
    padding: 30px;
    color: rgb(236, 236, 236);
}
form.loginForm {
    padding: 40px;
    font-family: "tf2secondary";
    color: rgb(236, 236, 236);
    font-size: 25px;
}
.loginAccountCreate {
    font-family: "tf2secondary";
    padding: 40px;
    padding-top: 0px;
    color: rgb(236, 236, 236);
}
.loginAccountCreate p{
    margin: 0;
    font-size: 25px;
}


.accountCreateForm{
    color: rgb(236, 236, 236);
    font-family: "tf2secondary";
    padding: 30px;
    padding-top: 0;
}
.accountSecondHeader {
    font-family: "tf2build";
    color: rgb(236, 236, 236);
    margin: 0;
    padding: 30px;
    padding-left: 0;
}