/*Define extra fonts*/
@font-face {
    font-family: "tf2Secondary";
    src: url("/fonts/TF2secondary.ttf");
}
@font-face {
    font-family: "bebasRegular";
    src: url("/fonts/Bebas-Regular.ttf");
}
@font-face {
    font-family: "borisBlack";
    src: url("/fonts/BorisBlackBloxx.ttf");
}
@font-face {
    font-family: "tf2Build";
    src: url("/fonts/tf2build.ttf");
}
@font-face {
    font-family: "SFalt";
    src: url("/fonts/Truetype/GhoulFriAOE.ttf");
}
@font-face {
    font-family: "NewsHeader";
    src: url("/fonts/LietzLindauHamburg.otf");
}

body {
    margin: 0;
    background-color: rgb(69, 69, 69);
}
/*A class for the general buttons on the site, because for some reason I didn't have one before now*/
.generalButton{
    text-decoration: none;
    font-family: "TF2Build";
    color: white;
    text-align: center;
    background-color: rgb(118, 116, 112);
    padding: 14px 18px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
.generalButton:hover{
    background-color: rgb(50, 50, 50);
    cursor: pointer;
    transition-duration: 0.1s;
}
.itemBuyButton{
    text-decoration: none;
    font-family: "TF2Build";
    color: white;
    text-align: center;
    background-color: rgb(118, 116, 112);
    padding: 14px 18px;
    border-radius: 5px;
    border: none;
    width: 100%;
}
.itemBuyButton:hover{
    background-color: rgb(50, 50, 50);
    cursor: pointer;
    transition-duration: 0.1s;
}

/*Define the main grid containers*/
/*.grid-container-nav {
    display: grid;
    grid-template-areas: 
    'header header header header header header'
    'main main main'
    ;
}
.navbar {
    grid-area: header;
    background-color: black;
    grid-template-columns: 10fr 10fr 10fr 10fr;
    width: 100%;
    text-align: left;

}
.grid-navbar-element {
    color: white;
    column-gap: 50px;
}*/
.mainHead{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-family: "bebasRegular";
    color: white;
    z-index: 1;
    text-align: center;
    text-shadow: 3px 3px black;
    font-size: 25px;
}
/*.mainHead span{
    font-family: "borisBlack";
    font-size: 50px;
}*/
.headCont{
    position: relative;
    height: 100%;
}
header img{
    filter: grayscale(50%) blur(6px);
}

.navbar ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-image: linear-gradient(gray, rgb(77, 77, 77));
}
.navbar img{
    filter: invert(100%);
}
li.navLeft {
    float: left;
}
li.navRight {
    float: right;
}
li a {
    display: block;
    color: white;
    text-align: center;
    padding: 22px 14px;
    text-decoration: none;
    font-family: "TF2secondary";
    padding-bottom: 1;
}
.navbar-image{
    padding: 16px 14px !important;
}
li a:hover{
    background-color: rgb(240, 88, 0);
}
.selectedTab{
    background-image: linear-gradient(rgb(188, 69, 0), rgb(235, 63, 0));
}

/*Hoveddelen av siden*/
main {
    background-color: rgb(88, 88, 88);
}
/*.indexMain {
    background-image: url("/img/Tf2Bric.png");
    background-repeat: no-repeat;
}*//*Work on this when time. Adds a background image to the main index page instead of a solid color, similar to the official TF2 website*/

.mainSub{
    font-family: "Newsheader";
    text-align: center;
    background-image: linear-gradient(rgb(208, 121, 21), rgb(194, 48, 0));
    margin: 0;
    padding: 30px;
    color: white;
    text-shadow:
    2px 2px 2px black;
    font-size: 30px;
}
.indexStoreHeader{
    text-align: center;
    font-family: "borisblack";
    color: #b35215;
    position: relative;
    top: 10px;
}
.indexStoreHeader h3{
    display: inline-block;
    background-color: rgb(205, 196, 188);
    padding: 15px;
    margin-bottom: 0px;
    border-radius: 10px;
}
/*--------------Styles for the index image carousel-------------------*/
.headCarouselContainer {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  .carouselElement {
    display: none;
  }
  
  /* Next & previous buttons */
  .carouselPrev, .carouselNext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .carouselNext {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .carouselPrev:hover, .carouselNext:hover {
    background-color: rgba(0,0,0,0.8);
  }






.indexStore {  display: grid;
    grid-template-columns: 0.5fr 2fr 0.5fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "left main right";
    font-family: "TF2Secondary";

}
  
.indexStoreArea { grid-area: main; }
  
.left { grid-area: left; }
  
.right { grid-area: right; }
  
.indexStoreArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    text-align: center;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . .";     
    /*display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    grid-auto-rows: 1fr;
    gap: 10px 10px;
    grid-auto-flow: row;
    text-align: center;
    grid-template-areas:
      "a b c d"
      "e f g h"
      "i j k l"
      "m n o p";*/
    background-color: rgb(205, 196, 188);
    padding: 15px;
    border-radius: 10px;
}
  
/*.a { grid-area: a; }
  
.b { grid-area: b; }
  
.c { grid-area: c; }
  
.d { grid-area: d; }
  
.e { grid-area: e; }
  
.f { grid-area: f; }
  
.g { grid-area: g; }
  
.h { grid-area: h; }
  
.i { grid-area: i; }
  
.j { grid-area: j; }
  
.k { grid-area: k; }
  
.l { grid-area: l; }
  
.m { grid-area: m; }
  
.n { grid-area: n; }
  
.o { grid-area: o; }
  
.p { grid-area: p; }*/
  

.storeItem{ /*Reccomended height for each store item: 177px*/
    margin: 10px;
    background-color: rgb(71, 64, 56);
    border-radius: 10px;
    padding: 10px 10px;
    padding-bottom: 34px;
    height: 177px;
    border-style: solid;
    border-color: rgb(219, 219, 21);
}
.storeItem:hover{
    /*background-color: rgb(149, 149, 149);*/
    background-color: rgb(105, 105, 105);
}
.storeItem p{
    margin: 0px;
    font-family: "tf2Build";
    color: rgb(219, 219, 21);
}
.storeItem p.price{
    color: rgb(0, 169, 0);
    padding-bottom: 5px;
}
.storeItem img{
    /*background-color: rgb(71, 64, 56);*/
    border-radius: 10px;
    padding: 1px 10px;
}
/*
.storeItem img:hover{
    background-color: rgb(149, 149, 149);
}*/

/*.addCartBtn{
    display: none;
    position: absolute;
}
.storeItem:hover .addCartBtn {
    display: block;
}*/
/*Classes and grid system for the button that leads to the products page from the index page*/
.indexToProducts a{
    text-decoration: none;
    font-family: "TF2Build";
    color: white;
    text-align: center;
    background-color: rgb(104, 104, 104);
    padding: 10px;
    border-radius: 5px;
}
.indexToProducts a:hover{
    background-color: rgb(50, 50, 50);
}
.indexToProducts {  
    display: grid;
    grid-template-columns: 1.1fr 1.0fr 1.1fr;
    grid-template-rows: 1.2fr 0.6fr 1.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . ."
      "left button right"
      ". . .";
}
  
.left { grid-area: left; }
  
.button { grid-area: button; }
  
.right { grid-area: right; }


/*Footer classes and grid system*/
.footerContainer {  display: grid;
    grid-template-columns: 0.3fr 1.2fr 0.9fr;
    grid-template-rows: 0.5fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "footerLeft footerLogo footerRight";
    background-color: rgb(71, 71, 71);
}
  
.footerLeft { grid-area: footerLeft; }
  
.footerLogo { grid-area: footerLogo; }
  
.footerRight { grid-area: footerRight; }

.footerRight{
    text-align: right;
    padding: 10px;
}
.footerRight a{
    text-decoration: none;
    color: rgb(179, 179, 179);
}
.footerRight a:hover{
    text-decoration: underline;
}
  
.footerLeft img{
    filter: invert(100%);
    padding: 20px;
}
footer p{
    color: rgb(179, 179, 179);
}

/*-----------------------------------Styles for the account pages----------------------------------*/

h1.accountMainHeader {
    font-family: "bebasregular";
    margin: 0;
    padding: 30px;
    color: rgb(236, 236, 236);
}
form.loginForm {
    padding: 40px;
    font-family: "tf2secondary";
    color: rgb(236, 236, 236);
    font-size: 20px;
}
.loginAccountCreate {
    font-family: "tf2secondary";
    padding: 40px;
    padding-top: 0px;
    color: rgb(236, 236, 236);
}
.loginAccountCreate p{
    margin: 0;
    font-size: 20px;
}


.accountCreateForm{
    color: rgb(236, 236, 236);
    font-family: "tf2secondary";
    padding: 30px;
    padding-top: 0;
}
.accountCreateForm label{
    font-size: 20px;
}
.accountSecondHeader {
    font-family: "tf2build";
    color: rgb(236, 236, 236);
    margin: 0;
    padding: 30px;
    padding-left: 0;
    font-size: 18px;
}
.accountButton {
    padding: 16px;
    color: white;
    font-family: "tf2build";
    font-size: 16px;
    background-color: rgb(104, 104, 104);
    border: none;
    border-radius: 5px;
}
.accountButton:hover{
    background-color: rgb(50, 50, 50);
    cursor: pointer;
}
.incorrectLabelText{
    color: red;
}

/*------------------Styles for the main store page-----------------------*/

.mainStore {  
    display: grid;
    grid-template-columns: 0.3fr 0.5fr 2.4fr 0.6fr;
    grid-template-rows: 0.4fr 2.3fr 0.3fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . . ."
      ". mainStoreNav mainStoreArea ."
      ". . . .";
}
  
.mainStoreArea { grid-area: mainStoreArea; }
  
.mainStoreNav { grid-area: mainStoreNav; }


.mainStoreArea {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    text-align: center;
    grid-template-areas:
      ". . . ."
      ". . . ."
      ". . . ."
      ". . . ."; 
    /*display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
    gap: 0px 0px;
    grid-auto-columns: 1fr;
    text-align: center;
    grid-auto-rows: 1fr;
    grid-auto-flow: row;
    grid-template-areas:
      "slot1 slot2 slot3 slot4"
      "slot5 slot6 slot7 slot8"
      "slot9 slot10 slot11 slot12"
      "slot13 slot14 slot15 slot16";*/
    padding: 15px;
    border-radius: 10px;
    background-color: #343434;
  }
  
  /*.slot1 { grid-area: slot1; }
  
  .slot2 { grid-area: slot2; }
  
  .slot3 { grid-area: slot3; }
  
  .slot4 { grid-area: slot4; }
  
  .slot5 { grid-area: slot5; }
  
  .slot6 { grid-area: slot6; }
  
  .slot7 { grid-area: slot7; }
  
  .slot8 { grid-area: slot8; }
  
  .slot9 { grid-area: slot9; }
  
  .slot10 { grid-area: slot10; }
  
  .slot11 { grid-area: slot11; }
  
  .slot12 { grid-area: slot12; }
  
  .slot13 { grid-area: slot13; }
  
  .slot14 { grid-area: slot14; }
  
  .slot15 { grid-area: slot15; }
  
  .slot16 { grid-area: slot16; }*/
  

.mainStoreNav {  display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 0.5fr 1fr 1fr 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      "popularCat"
      "typeCat"
      "qualityCat"
      "priceCat"
      ".";
    text-align: right;
}
  
.popularCat { grid-area: popularCat; }
  
.typeCat { grid-area: typeCat; }
  
.qualityCat { grid-area: qualityCat; }
  
.priceCat { grid-area: priceCat; }


/*Styles for the dropdown menus*/

.dropdownToggle {
    padding: 16px;
    color: white;
    font-family: "tf2build";
    font-size: 16px;
    background-color: #343434;
    border: none;
    border-radius: 5px;
}
.dropdownContain{
    position: relative;
    display: inline-block;
}
.dropdownContent{
    display: none;
    position: absolute;
    background-color: #343434;
    min-width: 200px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
    padding: 10px;
    font-family: "tf2secondary";
    color: white;
    text-align: left;
}
.dropDownLong {
    min-width: 700px;
}
.dropdownContent a{
    color: rgb(255, 255, 255);
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdownContent a:hover{
    text-decoration: underline;
}
.dropdownContent input {
    margin: 10px;
    margin-right: 0px;
}
.dropdownContent p {
    font-family: "tf2build";
}
.show {
    display: block;
}


.storeItemPopup{
    display: none;
    position: absolute;
    color: white;
    background-color: #343434;
    padding: 50px;
    z-index: 2;
    border: solid;
    border-color: #616161;
}

/*------------------------------------------------------Styles for the individual store item pages--------------------------------------------*/
.itemPageGoBack{
    color: white;
    font-family: "tf2secondary";
    padding: 10px;
    position: absolute;
    width: 100px;
    left: 10px;
}
.detailsName{
    font-size: 50px;
    text-align: center;
    font-family: "tf2build";
    margin: 0;
}
.storePageDesc{
    padding-top: 100px;
}
.detailsDescription{
    font-family: "tf2secondary";
    color: white;
}
.detailsPrice{
    font-size: 40px;
    color: rgb(0, 169, 0);
}
.storePageAddCart{
    width: 80%;
    padding: 20px;
    margin: 5px;
    font-size: 20px;
}
.storePageGrid {  
    display: grid;
    grid-template-columns: 0.9fr 1.2fr 0.9fr;
    grid-template-rows: 1fr;
    grid-auto-columns: 1fr;
    gap: 0px 0px;
    grid-auto-flow: row;
    grid-template-areas:
      ". . .";
    padding-top: 50px;
  }
  




/*-------Styles for the mini image carousel-------*/
.miniCarousel {
    max-width: 100%;
    position: relative;
    margin: auto;
  }
  
/* Hide the images by default */
.miniCarouselElement {
    display: block;
}
  
/* Next & previous buttons */
.miniCarouselPrev, .miniCarouselNext {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}
  
/* Position the "next button" to the right */
.miniCarouselNext {
    right: 0;
    border-radius: 3px 0 0 3px;
}
  
/* On hover, add a black background color with a little bit see-through */
.miniCarouselPrev:hover, .miniCarouselNext:hover {
    background-color: rgba(0,0,0,0.8);
}